/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* COMMON */
/* typo */
body  {
    font-family: PT Sans, sans-serif;
}
/* /typo */

/* variables */
:root {
    --headerblue: #0084fd;
    --cardazure: #b5ddff; 
    --bkg-violet: #9792e4;
}
/* /variables */

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}
/* HEADER */
header {
    background-color: var(--headerblue);
    height: 70px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
}

header .container {
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.hamburger_btn button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.desk_nav {
    display: none;
}

.desk_nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.desk_nav a {
    text-decoration: none; 
    color: white; 
}

/* MEDIA PX 992*/
@media screen and (min-width:992px) {
    .container {
        width: 70%;
    }

    .desk_nav {
        display: block;
    }
    
    .hamburger_btn {
        display: none;
    }
}

/* MAIN */

main {
    padding-top: 90px;
}
/* features section */
.card_features {
    background-color:var(--cardazure);
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* MEDIA QUERY MAIN */
@media screen and (min-width:768px) {
    .two_box_row {
        display: flex;
        gap: 20px;
    }

    .col-60 {
        width: 70%;
    }

    .col-30 {
        width: 30%;
    }

    .three_box_row {
        display: flex;
        gap: 20px;
    }
}

/* planning section */
.planning_box {
    background-color: var(--bkg-violet);
}

.app_development {
    background-color: white;
    border-radius: 20px;
}

/* MEDIA QUERY PLANNING SECTION */
@media screen and (min-width:992px) {
    .planning_box .container {
        display: flex;
        width: 70%;
        margin: 0 auto;
        padding: 60px;
        gap: 30px;
    }

    .col-60 {
        width: 50%;
    }

    .col-40 {
        width: 40%;
    }
    
    .app_development {
        padding: 30px;
        position: relative;
        top: 50px;
        right: 0;
    }
}


/* testimonials section */

/* FOOTER */