/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* COMMON */
/* typo */
body  {
    font-family: "PT Sans", sans-serif;
}

.text-center {
    text-align: center;
} 
/* /typo */

/* variables */
:root {
    --headerblue: #0084fd;
    --cardazure: #b5ddff; 
    --bkg-violet: #9792e4;
}
/* /variables */

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

h3 {
    color: var(--headerblue);
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
/* HEADER */
header {
    background-color: var(--headerblue);
    height: 70px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
}

header .container {
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.hamburger_btn button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.desk_nav {
    display: none;
}

.desk_nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.desk_nav a {
    text-decoration: none; 
    color: white; 
}

/* MEDIA PX 992*/
@media screen and (min-width:992px) {
    .container {
        width: 70%;
    }

    .desk_nav {
        display: block;
    }
    
    .hamburger_btn {
        display: none;
    }
}

/* MAIN */

main {
    padding-top: 8rem;
}
/* features section */
.card_features {
    background-color:var(--cardazure);
    padding: 1em 1em 0 1em;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.features_box p {
    padding: 2rem 0;
    line-height: 2rem;
}

.features_box a {
    background-color: var(--headerblue);
    color: white;
    text-decoration: none;
    padding: 0.5rem 3rem;
    border-radius: 30px;
    letter-spacing: 0.15rem;
}

.features_box img {
    padding-top: 2em;
    display: block;
}

.icon {
    font-size: 4rem;
    padding: 1.3rem 0;
    color: var(--headerblue);
}
/* MEDIA QUERY MAIN */
/* 768px */
@media screen and (min-width:768px) {
    .col-70 {
        width: 70%;
    }

    .col-30 {
        width: 30%;
    }

    .features_box {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        padding-bottom: 5rem;
    }

    .card_features {
        width: calc(100% / 3 - 2rem / 3);
        margin-bottom: 0;
    }

    .container .hero_img {
        width: calc(2 * 100% / 3 - 1rem / 3);
    }

    .features_box .hero_img {
        text-align: left;
    }
}
/* 992px */
@media screen and (min-width: 992px) {
     .hero_img  {
        display: flex;
     }

     .right_hero_block {
        display: flex;
        align-items: flex-end;
     }
}

/* planning section */
.planning_box {
    background-color: var(--bkg-violet);
    padding: 3rem 3rem;
    color: white;
}

.app_development {
    background-color: white;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.planning_box h2 {
    text-align: left;
    padding: 2rem 0;
    font-size: clamp(2rem, 2.5vw, 3.5rem);
}

.planning_box p {
    padding-bottom: 2rem;
    line-height: 2rem;
    text-align: left;
}

.planning_box a {
    color: black;
    position: absolute;

}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bkg-violet);
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_development h3 {
   color: black; 
   padding: 2rem 0;
   font-size: clamp(1rem, 2.5vw, 1.5rem);
}

/* MEDIA QUERY PLANNING SECTION */
@media screen and (min-width:992px) {
    .planning_box .container {
        display: flex;
        width: 60%;
        margin: 0 auto;
        padding: 60px;
        gap: 5rem;
        align-items: flex-end;
    }

    .col-60 {
        width: 50%;
    }

    .col-40 {
        width: 40%;
    }
    
    .col-50 {
        width: 50%;
    }
}


/* testimonials section */
.test_card {
    background-color: var(--bkg-violet);
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test_card img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.testimonials h4 {
    font-weight: 500;
    padding-top: 2rem;
}

.testimonials h3 {
    color: var(--bkg-violet);
    padding: 2rem 0;
}

.testimonials .container p {
    padding-bottom: 2rem;
    line-height: 1.5rem;
}

.test_name {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
}

/* MEDIA QUERY TESTIMONIAL SECTION */
@media screen and (min-width:768px) {
    .test_card {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .test_quote {
        padding: 0 1.5rem;
    }

    .test_card img {
        margin-bottom: 0;
    }
}

/* work with us section */
.work_with_us {
    background-color: var(--bkg-violet);
}

.work_with_us .container {
    flex-direction: column;
}
.work_us_card {
    background-color: white;
    color: var(--bkg-violet);
    border-radius: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    padding: 0 1.5rem
}

.work_with_us h3 {
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.work_us_card .numbers  {
    font-size: 5rem;
    color: var(--bkg-violet);
    font-weight: 800;
    padding-top: 1rem;
    display: inline-block;
}

.work_with_us .work_us_card h3 {
    color: #9792e4;
    font-weight: 600;
    padding: 1rem 0;
    text-align: left;
}

.work_us_card a {
    color: white;
    background-color: var(--bkg-violet);
    border-radius: 30px;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.button {
    margin: 2rem 0;
}

.work_us_card p {
    color: black;
    line-height: 1.5rem;
}
/* MEDIA QUERY WORK WITH US SECTION */
/* 768px */
@media screen and (min-width: 768px) {
    .work_us_card {
        width: 49%;  
    }

    .work_with_us .container  {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; 
    }
}

@media screen and (min-width: 992px) {
    .work_us_card {
        width: 32%;  
    }

    .work_with_us .container  {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; 
    }
}

/* ABOUT US SECTION */
.about_us h2 {
    font-size: clamp(3rem, 2.5vw, 4rem);
    padding: 2rem 0;
    color: var(--bkg-violet);
}

.left_about_us p {
    line-height: 1.5rem;
}
.right_about_us img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.about_us_comp {
    position: relative;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.big_quote {
    font-size: 4rem;
    color: var(--bkg-violet);
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 110px;
}

.right_about_us h3 {
    color: var(--bkg-violet);
    padding-bottom: 1rem;
}

.right_about_us a {
    color: white;
    background-color: var(--bkg-violet);
    border-radius: 30px;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

/* MEDIA QUERY ABOUT US SECTION */
@media screen and (min-width:768px) {
        .about_us .container {
            display: flex;
            gap: 1.5rem;
            padding-bottom: 3rem;
        }

        .left_about_us p {
            padding-right: 1rem;

        }

}

/* CTA SECTION */
.cta_container {
    background-color: var(--bkg-violet);
    color: white;
    /* debug */
    height: 500px;
}

.cta_container .container {
    padding: 2em 0;
}

/* FOOTER */
footer {
    background-color: #333333;
    color: white;
    padding: 2em 0;
}
